<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

</head>

<body>

    <h1>Spring Boot - Upload Status</h1>

    <!-- <div th:if="${message}">
        <h2 th:text="${message1}" />
        <h2 th:text="${message2}" />
    </div>


    <img th:src="@{/images/2020slide-5.jpg}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">

    <div class="container">
        <section class="row">
            <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
                <img src="/images/2020slide-5.jpg" alt="Image 2" width="500px ">
            </div>
        </section>
    </div> -->

</body>

</html>